<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="demoVsmCasestudy" verbose="1" > 
  <test name="casestudytest" > 
    <classes> 
       <class name="com.vsm.casestudy.mainTest" /> 
       <!-- class name="com.vsm.casestudy.sample" /-->
    </classes> 
  </test> 
</suite> 
